@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Oxanium:wght@600&display=swap');
* {
  margin: 0;

/*Use 'margin: auto' for non flexbox/grid projects */

  padding: 0;
  box-sizing: border-box;
}

/* Fits images in containers no matter the size */

img {
  max-width: 100%;
  height: auto;
}

#canvas, #scoreboard, #score-table, .score-column, .time-column, .time-box, .period, .score-square, .control-section {
  display: flex;
  align-items: center;
}

.score-column, .time-column, .time-box, .period, .score-square, .control-section {
  justify-content: center;
}

#scoreboard, #animated-board, #score-table, .score-column, .time-column {
  background-color: #4e4c4c;
}

#canvas {
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Oxanium';
  font-size: 30px;
  color: white;
  width: 100%;
  height: 100vh;
  background-image: url('images/dickies.jpg');
  background-size: cover;
}

#scoreboard {
  justify-content: space-around;
  width: 500px;
  opacity: 0.8;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  margin: 20px 0 0 0;
  padding: 0 325px 0 325px;
}

#score-table {
  justify-content: space-around;
  width: 650px;
  height: 100px;
  opacity: 0.8;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.score-column-left, .score-column-right {
  flex-direction: column;
  width: 270px;
  height: 430px;
}

.score-column-left {
  margin: 20px 60px 0 0;
}

.score-column-right {
  margin: 20px 0 0 60px;
}

.time-column {
  flex-direction: column;
  width: 320px;
  height: 430px;
}

.time-box {
  background-color: black;
  width: 150px;
  height: 45px;
  font-size: 25px;
  border-radius: 10px;
  color: #dd082f;
  padding-top: 4px;
}

.period {
  color: #c29b28;
  background-color: black;
  width: 150px;
  height: 53px;
  margin-top: 12px;
  border-radius: 10px;
  padding-top: 4px;
  font-size: 15px;
}

.score-square {
  width: 130px;
  height: 80px;
  font-size: 30px;
  color: #DCB645;
  background-color: black;
  border-radius: 10px;
  margin-top: 15px;
  border: 2px solid #eeeeee
}

.control-section {
  width: 230px;
  height: 120px;
  margin: 15px 0 5px 0;
}

#animated-board {
  display: flex;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

#animated-board img {
  border-radius: 50%;
}

.score-column h2 {
  margin-top: -10px;
}

.score-square h2 {
  margin-top: 7px;
}

.logo-circle-bucks, .logo-circle-pacers {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-size: cover;
  margin-top: 50px;
}

.logo-circle-pacers {
  background-image: url('images/gators.jpg');
}

.logo-circle-bucks {
  background-image: url('images/vikings.jpg');
}

.time-section button,
.control-section button {
  font-family: 'Lato';
  border-radius: 10px;
  font-weight: 900;
  background-color: #DCB645;
  border: 3px solid white;
  color: #162461;
}

.time-section button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  margin-bottom: 5px;
}

.control-section button {
  width: 35px;
  height: 35px;
  font-size: 10px;
  margin-right: 5px;
}

#reset-button {
  background-color: #2b2929;
  color: white;
}

.control-section button:hover {
  background-color: #c29b28;
}

.control-section button:active {
  border: 2px solid #162461;
  color: white;
}

.time-section button:hover {
  background-color: #c29b28;
}

.time-section button:active {
  border: 2px solid #162461;
  color: white;
}

#reset-button:hover {
  background-color: #3b3838;
}

/* Getting rid of an annoying button I couldn't align */

#invisible-button:hover,
#invisible-button:active {
  background: black;
  border: none;
}